/*@font-face {
    font-family: myFont;
    src: url(https://github.com/LuqueMT/coventry.code.font.git);
}*/

a h1 {
    font-family: myFont;
    color: white;
}

.container1{
    .navBarSection{
        display: grid;
        align-items: center;
        justify-content: space-between;
        padding: 25px 4%;
        margin: 10px;
        gap: 10px;
        .logo{
            grid-column: 1;
            cursor: pointer;
            margin-right: auto;
            .logoimage{
                display: none;
            }
            a{
                font-family: myFont;
                color: white;
                font-size: 2rem;
                margin-left: 1%;
                padding-left: 1%;
            }
        }
        .navBar{
            grid-column: 2;
            ul.nav__links{
                list-style: none;
                align-items: center;
                text-align: center;
                margin-bottom: 0;
                .form-search{
                    .input_group{
                        display: flex;
                        align-items: center;
                        font-size: 20px;
                        background-color: #ffffff13;
                        border-radius: 4px;
                        transition: all 0.5s;
                        font-family: 'Times New Roman', Times, serif;
                        input{
                            all: unset;
                            padding: 2px;
                            height: 2rem;
                            width: 30rem;
                        }
                    }
                    .input_group:hover{
                        background-color: white;
                    }
                }
                li{
                    display: inline-block;
                    padding: 2px 20px;
                    align-items: center;
                    text-align: center;
                    a{
                        position: relative;
                        text-decoration: none;
                        font-family:'Times New Roman', Times, serif;
                        color: #e6e5e5;
                        font-size: 18px;
                        letter-spacing: 0.5px;
                        padding: 0 10px;
                    }
                    a:after{
                        content: "";
                        position: absolute;
                        background-color: #e8e8e8;
                        height: 3px;
                        width: 0;
                        left: 0;
                        bottom: -10px;
                        transition: 0.3s;
                    }
                    a:hover:after{
                        width: 100%;
                    }
                }
            }

        }
        a.cta{
            grid-column: 3;
            button {
                margin: 0;
                padding: 5px 20px;
                background-color: rgb(248, 248, 248);
                border: none;
                border-radius: 50px;
                cursor: pointer;
                transition: all 0.3s ease 0s;
                font-family: 'Times New Roman', Times, serif;
                font-weight: 500;
                font-size: 20px;
                color: rgb(0, 0, 0);
                text-decoration: none;
            }
        }
        a.cta button:hover {
            background-color:#ffffff13;
            color: rgb(248, 248, 248);
        }

        li,a{
            font-family: 'Times New Roman', Times, serif;
            font-weight: 500;
            font-size: 25px;
            color: rgb(248, 248, 248);
            text-decoration: none;
        }
    }
}
.row{
    margin-left: 0;
    margin-right: 0;
}

@media screen and (max-width:768px) {
    body{
        margin: 0;
        padding: 0;
    }
    .container1{
        margin: 0 5px;
        padding: 5px;
        .navBarSection{
            display:flex;
            justify-content:center;
            gap: 0;
            padding: 25px 1%;
            margin: 5px;
            .logo{
                .logof{
                    display: none;
                }
                .logoimage{
                    display: flex;
                    margin:0 5px 0 0;
                    h1{
                        font-size: 60px;
                        color: white;
                        font-family: myFont;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:480px) {
    .container1{
        margin: 0;
        padding: 0;
        .navBarSection{
            display: none;
        }
    }
}